@media only screen and (max-width:982px){
    .gc{
        width: 100vw;
    }
    .mc{
        width: 100vw;
    }
    .sm1{
        padding-top: 40px;
    }
    .sm2{
        /* background-color: black; */
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: center;
    
    }
    .sm2_1_img{
        /* width: 100vw; */
        /* margin-left: -55px; */
        /* background-color: green; */
        /* height: 50px; */
        /* line-height: 12px; */
        padding-top: 0%;
        padding-left: 22px;
    }
    .sm2_1{
        width: 100vw;
        /* margin-left: -55px; */
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: center;
        
    }
    .sm2_1_h2{
        display: none;
       
    }

    .sm2_2{
        width: 100vw;
        /* background-color: pink; */
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* margin: 1px; */

    }
    .sm2_2_1{
        width: 340px;
        /* background-color: yellow; */
        
    }
    .sm2_2_2{
        width: 330px;
        /* display: flex;
        justify-content: center;
        flex-direction: column; */
    }
    #emailid{
        width: 300px;
    }
    .btnli{
        width: 300px;
    }
    .btncna{
        margin-left: 60px;
    }
    .sm2_2_3{
        margin-left: -31px;
    }
    .fc{
        width: 100vw;
    }
    .fc1{
        width: 100vw;
        padding-left: 15px;
    }
    .ullist1{
        width: 100vw;
        padding-bottom: 45px;
        line-height: 25px;
    }
    .ullist2{
        line-height: 25px;
    }

    .ccc{
        border-bottom: 1px solid #dddfe2;
        font-size: 1px;
        height: 8px;
        margin-bottom: 8px;
        color: #737373;
        width: 980px;
        height: 8px;
    
    }


}