@media only screen and (max-width:982px){
    .gc{
        width: 100vw;
    }
    .mc{
        width: 100vw;
    }
    .sm1{
        padding-top: 40px;
    }
    .sm2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .sm2_1_img{
        padding-top: 0%;
        padding-left: 22px;
    }
    .sm2_1{
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        
    }
    .sm2_1_h2{
        display: none;
       
    }

    .sm2_2{
        width: 100vw;
        display: flex;
        justify-content: center;

    }
    .sm2_2_1{
        width: 340px;
        
    }
    .sm2_2_2{
        width: 330px;
    }
    #emailid{
        width: 300px;
    }
    .btnli{
        width: 300px;
    }
    .btncna{
        margin-left: 60px;
    }
    .sm2_2_3{
        margin-left: -31px;
    }
    .fc{
        width: 100vw;
    }
    .fc1{
        width: 100vw;
        padding-left: 15px;
    }
    .ullist1{
        width: 100vw;
        padding-bottom: 45px;
        line-height: 25px;
    }
    .ullist2{
        line-height: 25px;
    }

    .ccc{
        border-bottom: 1px solid #dddfe2;
        font-size: 1px;
        height: 8px;
        margin-bottom: 8px;
        color: #737373;
        width: 980px;
        height: 8px;
    
    }
    .contentcurve{
        width: 94vw;
    }
    .ccc{
        width: 94vw;
    }

}